<div class="d-flex">
  <!-- start sidebar -->
  <app-sidebar></app-sidebar>
  <!-- end sidebar -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." >
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum at iure necessitatibus, quidem veniam quisquam iste illum quod officiis itaque fuga repellat quibusdam inventore veritatis expedita non? Eligendi, provident sit.
      </div>
    </div>
  </div>

</div>